body {
    padding: 20px;
    font-size: 18pt;
    font-family: sans;
    line-height: 35px;
}

ul {
    margin-top: 0px;

    margin-bottom: 10px;

    list-style: square;
}

code {
    margin-left: 25px;
}

.no-links-error {
    color: red;
}
