body {
    padding: 20px;
    font-size: 18pt;
    font-family: sans;
    line-height: 35px;
}

ul {
    margin-top: 0px;

    margin-bottom: 10px;

    list-style: square;
}

code {
    margin-left: 25px;
}

.no-links-error {
    color: red;
}

#automatic-allowed {
    color: green;
}

#allow-automatic-link {
    font-weight: bold;
}

a {
    text-decoration: none;
    color: blue;
}

a:hover {
    text-decoration: underline;
    cursor: default;
}
